__pycache__/
*.pyc
*.log
server.log
.DS_Store
venv/
.env

borsapy_lib/*
!borsapy_lib/borsapy/

borsapy_lib/charset_normalizer/
borsapy_lib/lxml/
borsapy_lib/pydantic_core/
borsapy_lib/pymupdf/
borsapy_lib/*.pyd
borsapy_lib/*.dll

agent-tools/
